<div class="container listing-container">
  <div class="row">
    <div class="col-sm-2">
      <img src="/images/house.png"><br>
    Owner: <strong><%= listing._owner.username %></strong>
    </div>
    <div class="col-sm-10">
      <h1><%= listing.title %></h1>
      <p class="listing-price"><%= listing.price %> Euros</p>
      <p class="listing-description"><%= listing.description %></p>
    </div>
  </div>
  </div>
    <a class="btn backer-btn" href="/">Keep Looking...</a>
  </div>

  <% if (listingIsCurrentUsers) { %>
    <a class="btn backer-btn" href="/listings/<%= listing._id%>/edit">Edit this Listing</a>
  <% }  %>
