
  <div class="carousel">
    <% listing.images.forEach((image, index) => { %>
      <a class="carousel-item" ><img src="<%= image %>" alt="<%= index %>"></a>
    <% })%>
  </div>
  <div class="row">
    <div class="grid-example col s12"><span class="flow-text"></span></div>

        <div class="row">

          <div class="col-sm-10">
            <h4><%= listing.title %></h4>
            <h5> Price €: <strong><%= listing.price %></strong></h5>
              
            <div class="col s3 m6 l3">
              <i class="medium material-icons">person</i>
              <br> Owner: <strong><%= listing._owner.username %></strong>
            </div>
            <div class="col s3 m6 l3">
              <i class="medium material-icons">grid_on</i>
              <br> Sqm: <strong><%= listing.size %></strong>
            </div>
            <div class="col s3 m6 l3">
              <i class="medium material-icons">format_bold</i>
              <br> Baths: <strong><%= listing.bathrooms %></strong>
            </div>
            <div class="col s3 m6 l3">
              <i class="medium material-icons">hotel</i>
              <br> Beds: <strong><%= listing.bedrooms %></strong>
            </div>
      </div>
    <br>
    </br>
    <div class="col s12">
      <h5> Description</h5>
    <%= listing.description %>
    </div>

        </div>


<div class="row">
<a class="waves-effect waves-light btn " href="/""><i class="material-icons left">search</i>Keep Looking...</a>
<a class="waves-effect waves-light btn " href="../visitors/new" "><i class="material-icons left ">call</i>Ask for a visit</a>

    <% if (listingIsCurrentUsers) { %>
      <a class="waves-effect waves-light btn" href="/listings/<%= listing._id%>/edit"><i class="material-icons left">edit</i>Edit this Listing</a>
      <% }  %>
</div>
            <div id="map"></div>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKIv36asP3gBqbOWJsq4lEtYPRx1LW-Sw"></script>
            <script type="text/javascript" src="/javascripts/show.js"></script>
            
            <script>
              $(function () {
                printMapAndMarker(
                  '<%= listing.title %>',
          <%= listing.location.coordinates[0] %>,
          <%= listing.location.coordinates[1] %>
        )
              })

            </script>
