<div class="container visit-container">

    <div class="row">
        <div class="col-sm-2">
            <img src="https://ksr-ugc.imgix.net/assets/007/188/910/68df9ec3603e3f3138bed402dea3cab2_original.jpg?w=80&h=80&fit=crop&v=1466566705&auto=format&q=92&s=eff05acf65569368cc99f6363722fe60"><br>            By: <strong><%= visit._creator.username %></strong>
        </div>
        <div class="col-sm-10">
            <h1>
                <%= visit.title %>
            </h1>
            <h2 class="visit-category">
                <%= visit.category %>
            </h2>
            <p class="visit-description">
                <%= visit.description %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <img class="visit-image" src="<%= visit.image %>">
        </div>
        <div class="col-sm-4 visit-info">
            <div class="visit-progress">
                <progress value="<%= visit.totalPledged %>" max="<%= visit.goal %>"></progress>
            </div>
            <div class="visit-pledged">
                <span class="visit-total">$<%= visit.totalPledged %></span><br>
                <span class="light-text">
          pledged of
          $<%= visit.goal %></span> goal
                </span>
            </div>
            <div class="visit-backers">
                <strong class="large-strong"><%= visit.backerCount %></strong><br>
                <span class="light-text">backers</span>
            </div>
            <div class="visit-time">
                <strong class="large-strong"><%= visit.timeRemaining.days %></strong><br>
                <span class="light-text"><%= visit.timeRemaining.unit  %> to go.</span>
            </div>
            <% if (visitIsCurrentUsers) { %>
                <a class="btn backer-btn" href="/visits/<%= visit._id%>/edit">Edit This Project</a>
        
                <% } else { %>
                    <a class="btn backer-btn" href="#">Back This Project</a>
                    <% } %>
                        
        </div>
    </div>
</div>